:root{
    --enable-workspace-background: transparent;
}
.sa-background-popup {
    box-sizing: border-box;
    width: 48vw;
    max-height: 84vh;
}
.sa-background-content{
    padding: 1rem;
}
.sa-background-blur-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*让工作区透明*/
.blocklySvg{
    background-color: var(--enable-workspace-background) !important;
}
/*不让左边那框产生“空隙”（原来的颜色是透明的不知道咋想的）*/
.injectionDiv{
    border: 1px solid var(--ui-secondary) !important
}