.sa-addon-collaborative-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.sa-addon-collaborative-tipBox {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 100%;
}

.sa-addon-collaborative-tipBox.warn {
    background-color: #ffc40022;
    color: #ffc400;
}

.sa-addon-collaborative-tipBox.tip {
    background-color: #0099ff22;
    color: #0099ff;
}

.sa-addon-collaborative-inputBox {
    justify-content: space-between;
    display: flex;
}

.sa-addon-collaborative-tipBoxScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sa-addon-collaborative-tipMsgScreen {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    padding: 10px;
    margin: 5px;
    background-color: #0099ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    animation: tipMsgIn 0.5s cubic-bezier(0.18, 0.92, 0.2, 1.07);
    -webkit-animation: tipMsgIn 0.5s cubic-bezier(0.18, 0.92, 0.2, 1.07);
}
.sa-addon-collaborative-tipMsgScreen.end {
    animation: tipMsgOut 0.4s cubic-bezier(0.56, 0.31, 0.34, 1.02) forwards;
    -webkit-animation: tipMsgOut 0.4s cubic-bezier(0.56, 0.31, 0.34, 1.02)
        forwards;
}

@keyframes tipMsgIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

@keyframes tipMsgOut {
    from {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
}
.sa-addon-collaborative-roomTitleCopyButton {
    width: 40px;
    height: auto;
    filter: var(--filter-icon-white);
    -webkit-filter: var(--filter-icon-white);
    background-color: #66666600;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    padding: 5px;
    border-radius: 99px;
}
.sa-addon-collaborative-roomTitleCopyButton:hover {
    background-color: #66666650;
    cursor: pointer;
}
.sa-addon-collaborative-roomTitleDiv {
    display: flex;
    gap: 5px;
    margin: 5px;
    align-items: center;
}
.sa-addon-collaborative-roomTitle {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 5px;
}
.sa-addon-collaborative-roomMembers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #55555550;
    padding: 10px;
    border-radius: 5px;
}

.sa-addon-collaborative-pointer{
    width: 20px;
    height: 20px;
    background: aqua;
    z-index: 999;
    position: absolute;
}