@import "../../css/colors.css";

.code {
    display: block;
    width: 100%;
    height: calc(100vh - 275px);
    max-width: 100%;
    min-width: 100%;
    min-height: 3rem;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    font-family: monospace;
    margin: 0.5rem 0;
}
